@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

body{
  /* background:  linear-gradient(to right ,   #1e5799 0%, #3ccdbb 0% , #16c9f6 100%); */
  
  background-color:  #00004d !important;
  margin: 0px;
}

.flex{
  display: flex;
  flex-direction: row;
}
.canvas{
  position : absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
   
 .flex{
   display: block;
   /* padding: 20px; */
   width: 100%;
 }
} 